<!DOCTYPE html>


<html lang="en">
  <head>
    <title>League of Cool Kickball Professionals</title>
  </head>

  <body>
    <h1>Teams</h1>
    <% teams = [] %>
    <% @players.each do |player| %>
        <% teams << player[:team] %>
      <% end %>
    <% teams.uniq! %>

    <ul>
      <% teams.each do |team| %>
        <li><a href=#><%= team %></a></li>
      <% end %>
    </ul>
  </body>
</html>
