<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= team %></title>
  </head>

  <body>
    <h1><%= team %></h1>

    <ul>
      <% @team.each do |player, position| %>
        <li><%= puts "player, position" %></li>
      <% end %>
    </ul>
  </body>
</html>
